[buildout]
parts =
    zope2
    instance
    zopepy
find-links =
    http://dist.plone.org/release/3.3.5
    http://dist.plone.org/thirdparty
extends =
    http://dist.plone.org/release/3.3.5/versions.cfg

versions = versions
eggs = lando.video
develop = .

[versions]
zc.buildout = 1.5.2
Products.GenericSetup = 1.4.5
plone.app.registry = 1.0b2
zope.i18n = 3.4.0 
zope.location = 3.4.0
zope.site = 3.5.1
zope.component =  3.5.1
z3c.form = 2.3.3
zope.schema = 3.6.4
zope.proxy = 3.4.2
plone.app.registry = 1.0b1
plone.app.z3cform = 0.4.9
plone.registry = 1.0b1
plone.z3cform = 0.5.10
zope.app.broken = 3.4.0
zope.container = 3.7.0
zope.security = 3.4.3


[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
url = ${versions:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    Plone
    ${buildout:eggs}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy
